:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*elementos base*/
body{
   background: var(--preta);
   font-family: 'Times New Roman', Times, serif;
   color:white;
}


header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size:50px;
}

header nav a{
    text-decoration:none;
    color:#AAA;
    margin-right: 10px;
    font-size:18px;
}


header nav a:hover{
    color:#fff;
    font-size:26px
}

/*filme principal*/
.filme-principal {
    font-size:18px; 
   
    background-size:cover;
    display:flex;
    flex-direction: column;
    justify-content: right;
    align-items:center;
   
    
}


.filme-principal .descricao{
   
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
   
}


.filme-principal .titulo{
    margin-top: 10%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border:none;
    color: white;

    padding:10px 30px;
    margin-right: 20px;
    font-size: 12px;
    cursor: pointer;
     
    transition: .4s ease all;
}

.botao:hover{
    background-color:white;
    color:black;
}

.botao i{
    margin-right: 12px;
    margin-top: 8px;
}


.container{
    margin-left: 100px;
    
}

.filme-principal .container{
    margin-top: 25px;
    width: 100%;
    margin-left: auto;
   
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
  
    
}


.carrosel-filmes{
   
    margin-top:15px ;
    
}


p{
    text-indent:50px;
    text-align:justify;
}


.imagem-filme-principal{

    display:flex;
    flex-direction: row;
    justify-content: center;
       

}

.item{
    
    padding: 1%;
     
}











